/* estilos/pagina2.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #011425; /* Fondo oscuro estilo carreras */
    color: #fcd800; /* Texto amarillo Red Bull */
}

header {
    background-color: rgb(33, 56, 114); /* Azul oscuro Red Bull */
    color: white;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px 0 0 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, border-bottom 0.3s;
}

nav ul li a:hover {
    color: #fcd800; /* Amarillo Red Bull al hacer hover */
    border-bottom: 2px solid #fcd800; /* Línea amarilla debajo del enlace al hacer hover */
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.image-container {
    position: relative;
    width: 500px; /* Aumentar el tamaño de las imágenes */
    height: 400px; /* Aumentar el tamaño de las imágenes */
    overflow: hidden;
    border: 2px solid #fcd800; /* Amarillo Red Bull */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al hacer hover */
    border-color: #e3061e; /* Rojo Red Bull al hacer hover */
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
    color: white; /* Texto blanco */
    width: 100%;
    padding: 20px;
    text-align: left;
    transition: background 0.3s;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s, transform 0.3s;
}

.image-container:hover .overlay {
    opacity: 1;
    transform: translateY(0);
}

.overlay h2 {
    margin: 0;
    font-size: 1.5em;
}

.overlay p {
    margin: 10px 0 0;
    font-size: 1em;
}

footer {
    background-color: rgb(33, 56, 114); /* Azul oscuro Red Bull */
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    margin-top: auto;
}

footer p {
    margin: 0;
    font-size: 1em;
}